@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype') tech('variations'),
  url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
}

:root {
	font-size: 1.55vmin;
	display: block;
}

body {
	margin: 0;
	overflow-x: hidden;

  @supports (font-variation-settings: 'wght' 500) {
    font-family: Montserrat;
  }

}

.site-header {
  font-family: monospace;
  font-weight: 400;

	span {
		display: block;
	}
}




/* scrabble styles */

.buitengrid {
	display: grid; /* zodat speelbord en letterbord op elkaar kunnen liggen */
  font-family: "Times New Roman", Times, sans-serif!important;
  font-size: 1.55vmin!important;
  grid-template-columns: minmax(310px, 1fr);
	grid-template-rows: minmax(310px, 1fr);
	margin: 2px;
}

.speelbord, .lettergrid {
	align-items: center;
	display: grid;
	grid-area: 1 / 1;
	grid-template-columns: repeat(15, 4.25rem);
	grid-template-rows: repeat(15, 4.25rem);
	justify-items: center;
}

.speelbord > * {
	align-items: center;
	background-color: lightgrey;
	block-size: 4rem;
	cursor: pointer;
	display: flex;
	inline-size: 4rem;
	font-family: sans-serif;
	font-variant: small-caps;
	text-align: center;
}

.letter {
	align-items: center;
	background-color: hsl(33, 100%, 88%);
	block-size: 4rem;
	box-shadow: 1px 1px 4px hsl(33, 100%, 20%);
	color: hsl(33, 0%, 5%);
	cursor: pointer;
	display: flex;
	font-size: 2rem;
	font-variant: small-caps;
	inline-size: 4rem;
	justify-content: center;
	margin: 1px;
	padding: .5rem;
	position: relative;
	text-transform: capitalize;
	transform: translate(-1500px, -1500px); /* eerst alle letters buiten beeld plaatsen */
}

.letter::before {
	content: attr(data-letter);
}

.letter::after {
	bottom: 0.5em;
	content: attr(data-waarde);
	font-size: 50%;
	position: absolute;
	right: 0.5em;
}

.letter:hover {
	opacity: .1;
	transition: opacity .2s ease-in-out;
}

.letter:not(:hover) {
	opacity: 1;
	transition: opacity .2s ease-in-out;
}

/* de woorden */

/* freelance */

.letter:nth-child(1) {
	grid-area: 2 / 5;
	animation: drop-letter .5s ease-in-out forwards;
}

.letter:nth-child(2) {
	grid-area: 2 / 6;
	animation: drop-letter .5s ease-in-out .2s forwards;
}

.letter:nth-child(3) {
	grid-area: 2 / 7;
	animation: drop-letter .5s ease-in-out .4s forwards;
}

.letter:nth-child(4) {
	grid-area: 2 / 8;
	animation: drop-letter .5s ease-in-out .6s forwards;
}

.letter:nth-child(5) {
	grid-area: 2 / 9;
	animation: drop-letter .5s ease-in-out .8s forwards;
}

.letter:nth-child(6) {
	grid-area: 2 / 10;
	animation: drop-letter .5s ease-in-out 1s forwards;
}

.letter:nth-child(7) {
	grid-area: 2 / 11;
	animation: drop-letter .5s ease-in-out 1.2s forwards;
}

.letter:nth-child(8) {
	grid-area: 2 / 12;
	animation: drop-letter .5s ease-in-out 1.4s forwards;
}

.letter:nth-child(9) {
	grid-area: 2 / 13;
	animation: drop-letter .5s ease-in-out 1.6s forwards;
}

/* developer */

.letter:nth-child(10) {
	grid-area: 1 / 7;
	animation: drop-letter .5s ease-in-out 2.0s forwards;
}

.letter:nth-child(11) {
	grid-area: 3 / 7;
	animation: drop-letter .5s ease-in-out 2.2s forwards;
}

.letter:nth-child(12) {
	grid-area: 4 / 7;
	animation: drop-letter .5s ease-in-out 2.4s forwards;
}

.letter:nth-child(13) {
	grid-area: 5 / 7;
	animation: drop-letter .5s ease-in-out 2.6s forwards;
}

.letter:nth-child(14) {
	grid-area: 6 / 7;
	animation: drop-letter .5s ease-in-out 2.8s forwards;
}

.letter:nth-child(15) {
	grid-area: 7 / 7;
	animation: drop-letter .5s ease-in-out 3.0s forwards;
}

.letter:nth-child(16) {
	grid-area: 8 / 7;
	animation: drop-letter .5s ease-in-out 3.2s forwards;
}

.letter:nth-child(17) {
	grid-area: 9 / 7;
	animation: drop-letter .5s ease-in-out 3.4s forwards;
}

/* auteur */

.letter:nth-child(18) {
	grid-area: 3 / 10;
	animation: drop-letter .5s ease-in-out 3.6s forwards;
}

.letter:nth-child(19) {
	grid-area: 4 / 10;
	animation: drop-letter .5s ease-in-out 3.8s forwards;
}

.letter:nth-child(20) {
	grid-area: 5 / 10;
	animation: drop-letter .5s ease-in-out 4.0s forwards;
}

.letter:nth-child(21) {
	grid-area: 6 / 10;
	animation: drop-letter .5s ease-in-out 4.2s forwards;
}

.letter:nth-child(22) {
	grid-area: 7 / 10;
	animation: drop-letter .5s ease-in-out 4.4s forwards;
}

/* peterdoolaard */

.letter:nth-child(23) {
	grid-area: 9 / 3;
	animation: drop-letter .5s ease-in-out 4.6s forwards;
}

.letter:nth-child(24) {
	grid-area: 9 / 4;
	animation: drop-letter .5s ease-in-out 4.8s forwards;
}

.letter:nth-child(25) {
	grid-area: 9 / 5;
	animation: drop-letter .5s ease-in-out 5.0s forwards;
}

.letter:nth-child(26) {
	grid-area: 9 / 6;
	animation: drop-letter .5s ease-in-out 5.2s forwards;
}

.letter:nth-child(27) {
	grid-area: 9 / 8;
	animation: drop-letter .5s ease-in-out 5.4s forwards;
}

.letter:nth-child(28) {
	grid-area: 9 / 9;
	animation: drop-letter .5s ease-in-out 5.6s forwards;
}

.letter:nth-child(29) {
	grid-area: 9 / 10;
	animation: drop-letter .5s ease-in-out 5.8s forwards;
	/*, dump-letter .75s ease-in 7.4s forwards;*/
}

.letter:nth-child(30) {
	grid-area: 9 / 11;
	animation: drop-letter .5s ease-in-out 6.0s forwards;
}

.letter:nth-child(31) {
	grid-area: 9 / 12;
	animation: drop-letter .5s ease-in-out 6.2s forwards;
}

.letter:nth-child(32) {
	grid-area: 9 / 13;
	animation: drop-letter .5s ease-in-out 6.4s forwards;
}

.letter:nth-child(33) {
	grid-area: 9 / 14;
	animation: drop-letter .5s ease-in-out 6.6s forwards;
}

.letter:nth-child(34) {
	grid-area: 9 / 15;
	animation: drop-letter .5s ease-in-out 6.8s forwards;
}

/* hi@ */

.letter:nth-child(35) {
	grid-area: 7 / 2;
	animation: drop-letter .5s ease-in-out 7.0s forwards;
}

.letter:nth-child(36) {
	grid-area: 8 / 2;
	animation: drop-letter .5s ease-in-out 7.2s forwards;
}

.letter:nth-child(37) {
	grid-area: 9 / 2;
	animation: drop-letter .5s ease-in-out 7.4s forwards;
}

/* .nl */

.letter:nth-child(38) {
  grid-area: 10 / 15;
  animation: drop-letter .5s ease-in-out 7.5s forwards;
}

.letter:nth-child(39) {
  grid-area: 11 / 15;
  animation: drop-letter .5s ease-in-out 7.6s forwards;
}

.letter:nth-child(40) {
  grid-area: 12 / 15;
  animation: drop-letter .5s ease-in-out 7.8s forwards;
}

/* animatie van de letters */
@keyframes drop-letter {
	0% {
		transform: translate(-1500px, -1500px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes dump-letter {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(1500px, -1500px);
	}
}

[data-bonus]::before {
	content: attr(data-bonus);
}

[data-bonus^="3 x woord"] {
	background-color: red;
	box-shadow: 0 0 2px 1px red;
}

[data-bonus^="2 x woord"] {
	background-color: lightpink;
	box-shadow: 0 0 2px 1px lightpink;
}

[data-bonus^="2 x letter"] {
	background-color: lightskyblue;
	box-shadow: 0 0 2px 1px lightskyblue;
}

[data-bonus^="3 x letter"] {
	background-color: cornflowerblue;
	box-shadow: 0 0 2px 1px cornflowerblue;
}

[data-bonus="ster"] {
	background-color: lightpink;
	box-shadow: 0 0 2px 1px lightpink;
}

[data-bonus="ster"]::before {
	content: '';
	background-image: url(../images/ster.svg);
	background-size: contain;
	block-size: 4rem;
	inline-size: 4rem;
}
